<% provide(:title, @user.name) %>
<h1>Users</h1>

<p>
  <b>Name:</b>
   <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<% if current_user.admin? %>
<p>
  <b>Admin:</b>
  <%= @user.admin %>
</p>
<% end %>

<% if current_user?(@user) or current_user.admin? %>
  <%= link_to "Edit", edit_user_path(@user) %>
<% end %>
