<h1>Pipestone animal tracking application</h1>
<ul>
  <li><%= link_to "Enter / View Animals", animals_path %></li>
  <li><%= link_to "Enter / View People", people_path %></li>
  <li><%= link_to "Enter / View Sales", sales_path %></li>
</ul>
