<footer class="footer">
  <small>
    Developed by the Minnesota Board of Animal Health
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   'about' %></li>
      <li><%= link_to "Contact", 'contact' %></li>
    </ul>
  </nav>
</footer>
