<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Pipestone Animal Tracking Application", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Animals", animals_path %></li>
          <li><%= link_to "People",  people_path %></li>
          <li><%= link_to "Sales",   sales_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>

